# The tests will try to read a database url from the 'postgresql' section.
# The configuration file will be either 'tests/test.config', or its path can be
# set by the TEST_CONFIG environment variable

[postgresql]
url=postgresql://test:test@localhost:5432/tests
echo=False
schema=test_schema

#[mssql] # NYI

[oracle]
url=oracle+cx_oracle://scott:tiger@localhost:1521/ORCL
schema1=test_schema1
password1=pass1
schema2=test_schema2
password2=pass2
schema3=test_schema3
password3=pass3