#The sql alchemy tests will try to read a database url from `test.config` file.
#Add a local database url to be used for running the tests. By default
#the BAAS CI database will be used

[postgresql]
sqlalchemy.url=postgresql://test:test@localhost:5432/tests
echo=False
schema=test_schema

#[mysql]

#[oracle]